#users_length select, #users_filter input
{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
}
#users tbody tr td:empty:after
{
    content:"None";
    color:#aaa;
}
#users tbody
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#package-list
{
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding:15px;
}
.package-permission
{
    font-family:monospace;
}
.package-permission .pull-right
{
    line-height: 1.5;
}
.package-permission .fa-times
{
    margin-left:5px;
    color:#888;
    cursor:pointer;
}
#perm-type
{
    background-color:transparent;
    border:0px;
    font-family:'FontAwesome';
}
#perm-type:focus
{
    outline:0;
}
.package-permission .fa-times:hover
{
    color:red;
}
#package-list:empty:after
{
    content:'No Packages';
    color:#aaa;
}
