body
{
    background-color:#ddd;
}
/*.navbar
{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:2;
}*/
.navbar
{
    display:none;
}
#content
{
    padding:0px;
    height:100%;
}
#map
{
    height:100%;
}
#guest, #member
{
    display:none;
}
#sidebar
{
    z-index:1;
    position:absolute;
    left:10px;
    bottom:10px;
    width:250px;
}
#sidebar .box
{
    margin-top:10px;
    background-color:white;
    border-radius:5px;
    border:1px solid #ccc;
}
.box .message
{
    display:block;
    padding:5px;
}
.box .title
{
    display:block;
    background-color:#ccc;
    padding:5px;
    font-weight:bold;
}
#list
{
    margin-bottom:0px;
    list-style-type:none;
}
#list li
{
    cursor:pointer;
}
#list:empty:after
{
    content:"No Packages";
    color:#aaa;
}
#list li:hover
{
    background-color:#eee;
}
#packageinfo
{
    position:absolute;
    top:10px;
    right:10px;
    z-index:1;
    background-color:white;
    padding:10px;
    border:1px solid #ccc;
    width:300px;
}
#packageinfo #puuid
{
    font-size:12px;
}
#searchbox
{
    position:absolute;
    top:10px;
    left:10px;
    z-index:1;
    min-width:250px;
}
#member ul
{
    list-style-type:none;
    margin-bottom:0px;
}
.opt
{
    float:right;
}
.p-delete,.p-rename
{
    cursor:pointer;
    color:#ccc;
    margin-right:3px;
}
.p-rename:hover
{
    color:green;
}
.p-delete:hover
{
    color:red;
}
@media only screen and (max-width:480px) {
    #packageinfo {
        left:10px;
        width:250px;
        top:58px;
    }
}
