body
{
    background-color:#ddd;
}
.navbar
{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:2;
}
#content
{
    padding:0px;
    height:100%;
}
#map
{
    height:100%;
}
#sidebar
{
    z-index:1;
    position:absolute;
    left:10px;
    bottom:10px;
    max-width:250px;
}
#sidebar #guest
{
    display:none;
}
#sidebar .box
{
    margin-top:10px;
    background-color:white;
    border-radius:5px;
    border:1px solid #ccc;
}
.box .message
{
    display:block;
    padding:5px;
}
.box .title
{
    display:block;
    background-color:#ccc;
    padding:5px;
    font-weight:bold;
}
#list
{
    margin-bottom:0px;
    list-style-type:none;
}
#list li
{
    cursor:pointer;
}
#list:empty:after
{
    content:"No Packages";
    color:#aaa;
}
#list li:hover
{
    background-color:#eee;
}
