body
{
    background-color:#ddd;
}
/*.navbar
{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:2;
}*/
.navbar
{
    display:none;
}
#content
{
    padding:0px;
    height:100%;
}
#map
{
    height:100%;
}
#guest, #member
{
    display:none;
}
#sidebar
{
    z-index:1;
    position:absolute;
    left:10px;
    bottom:10px;
    width:250px;
}
#sidebar .box
{
    margin-top:10px;
    background-color:white;
    border-radius:5px;
    border:1px solid #ccc;
}
.box .message
{
    display:block;
    padding:5px;
}
.box .title
{
    display:block;
    background-color:#ccc;
    padding:3px;
    padding-left:5px;
    font-weight:bold;
}
#list
{
    margin-bottom:0px;
    list-style-type:none;
}
#list li
{
    cursor:pointer;
    clear:both;
}
#list:empty:after
{
    content:"No Packages";
    color:#aaa;
}
#list li:hover
{
    background-color:#ddd;
}
#packageinfo
{
    position:absolute;
    top:10px;
    right:10px;
    z-index:1;
    background-color:white;
    padding:10px;
    border:1px solid #ccc;
    width:300px;
}
#packageinfo #puuid
{
    font-size:12px;
}
#searchbox
{
    position:absolute;
    top:10px;
    left:10px;
    z-index:1;
    min-width:250px;
}
#member ul
{
    list-style-type:none;
    margin-bottom:0px;
}
.opt
{
    float:right;
}
.p-delete,.p-rename
{
    cursor:pointer;
    color:#ccc;
    margin-right:3px;
}
.p-rename:hover
{
    color:green;
}
.p-delete:hover
{
    color:red;
}
#packagelist .message
{
    overflow-y:auto;
}
#mobile
{
    position:absolute;
    bottom:5px;
    right:5px;
    z-index:1;
    display:none;
}
#toggle, #zoomout
{
    margin:15px;
    width:60px;
    height:60px;
    border-radius:30px;
    text-align:center;
    line-height:60px;
    font-size:30px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    transition: box-shadow .2s;
}
#toggle:hover, #zoomout:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .28), 0 6px 12px rgba(0, 0, 0, .42);
}
#toggle:active, #zoomout:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, .42), 0 4px 10px rgba(0, 0, 0, .56);
}
#toggle
{
    background-color:#5bc0de;
}
#zoomout
{
    background-color:#d9534f;
}
@media only screen and (max-width:480px) {
    #packageinfo {
        left:10px;
        width:250px;
        top:58px;
    }
    #mobile {
        display:block;
    }
}
#package_count
{
    font-weight:normal;
    font-size:13px;
}
