.range i
{
    display:table-cell;width:1px;padding:5px;vertical-align:middle;font-size:1.4em
}
.range input
{
    display:table-cell;width:100%;vertical-align:middle;
}
.range {
    display:table;width:100%
}
@media only screen and (max-width:480px) {
    #s_type .btn {
        font-size:12px;
    }
}
