{% extends "layout.html" %}
{% block title %}User Manual - Package Manager{% endblock %}
{% block head %}
    {{ super() }}
    <link href='/css/about.css' rel='stylesheet' type='text/css' />
{% endblock %}
{% block content %}
<div id="container">
    <div id="sidebar">
        <a id="sidebar-title" href="#">Package Manager</a>
        <hr />
        <b>Table of Contents</b>
        <ul>
            <li><a href="#user">User Guide</a>
                <ul>
                    <li><a href="#user-getting-started">Getting Started</a></li>
                    <li><a href="#user-compatibility">Compatibility</a></li>
                    <li><a href="#user-search">Package Search</a></li>
                    <li><a href="#user-info">Information Box</a></li>
                </ul>
            </li>
            <li>
                <a href="#admin">Admin Guide</a>
                <ul>
                    <li><a href="#admin-user">User Management</a></li>
                    <li><a href="#admin-config">Configuration Variables</a></li>
                    <li><a href="#admin-reset">Application Reset</a></li>
                    <li><a href="#admin-recovery">Account Recovery</a></li>
                </ul>
            </li>
            <li><a href="#api">API</a></li>
            <li><a href="#requirements">Requirements</a></li>
            <li><a href="#credits">Credits</a></li>
        </ul>
    </div>
    <div id="info">
        <h1>Package Manager</h1>
        <p>Created by TJHSST Team 1 for the IDT Contest</p>
        <div id="screenshot-container">
            <img src="/images/screenshot.png" id="screenshot" />
            <img src="/images/mobile_screenshot.png" id="mobile-screenshot" />
        </div>
        <h2 id="user">User Guide</h2>
        <h3 id="user-getting-started">Getting Started</h3>
        <p><b>Welcome!</b> To start using Package Manager, simply scroll to the top of this page and press the Login item on the black navigation bar. If you do not have an account, click the Map item on the navigation bar. The rest of this guide will tell you how to use the features of Package Manager in more detail.</p>
        <p>To find out more about a package, click on its marker on the map or click on its name in the Packages list on the left. Information about the package, such as distance, speed, and estimated time of arrival, will appear in a box to the upper right corner. To zoom back out again, press the <kbd>ESC</kbd> key on your keyboard.</p>
        <h3 id="user-compatibility">Compatibility</h3>
        <p>Package Manager has been tested and will work on the latest versions of the following browsers:</p>
        <table id="browser-info">
             <tr id="browser-logos">
                <td><img src="/images/browsers/chrome.png" /></td>
                <td><img src="/images/browsers/edge.png" /></td>
                <td><img src="/images/browsers/firefox.png" /></td>
                <td><img src="/images/browsers/opera.png" /></td>
                <td><img src="/images/browsers/safari.png" /></td>
            </tr>
            <tr id="browser-versions">
                <td>48.0.2564</td>
                <td>25.10586</td>
                <td>43.0.4</td>
                <td>34.0</td>
                <td>9.0.2</td>
            </tr>
        </table>
        <p>Browser version tested on Windows 7, Windows 10, Mac OS X El Capitan, and Ubuntu 14.04 LTS.<br />Mobile version tested on Samsung Galaxy S4 and Apple iPhone.</p>
        <h3 id="user-search">Package Search</h3>
        <p>The search bar is located in the top left corner of the <a href="/map">map</a> page. The packages will automatically be filtered as you type your query. You can type in a list of UUIDs, separated by commas, to only show those UUIDs. If you type the words delivered or transit, only packages that have been delivered or are in transit will be shown.</p>
        <p>Example Query: <span style="color:#666">delivered,abc</span> - this query will show all delivered packages and packages with abc in their name or UUID.</p>
        <h3 id="user-info">Information Box</h3>
        <p>The information box is located in the top right corner of the <a href="/map">map</a> page in browsers and below the search bar in mobile devices.</p>
        <p>The information box will display the name, status, destination, time taken, and UUID of delivered packages. For packages in transit, more information, such as speed, distance left, and ETA will be shown. There is an option on the <a href="/settings">settings</a> page to switch between kilometers and miles.</p>
        <h2 id="admin">Administrator Guide</h2>
        <h3 id="admin-user">User Management</h3>
        <p>The sections below refer to the <a href="/accounts">Account Management</a> page. This page can be accessed by clicking the Admin item in the toolbar and then clicking Account Management. In the map page, the link to the Account Management page can be found in the lower left of the page.</p>
        <div class="alert alert-success"><b>Tip:</b> When selecting users in the table, you can hold down the <kbd>Ctrl</kbd> key and click to select multiple rows at once. You can also hold down the <kbd>Shift</kbd> key and click to select rows between the first selected row and the row you clicked.</div>
        <h4>Adding New Users</h4>
        <p>To add a new user, deselect all existing users in the table if any are selected. The Create Account button should be enabled at this point. Enter a username, email and password for the new user. The email and password fields are optional. If no passwords are entered, the user will not be able to login until a password is set.</p>
        <h4>Modifying Existing Users</h4>
        <p>To modify a user, select exactly one user from the table. If more than one user is selected, the Modify Account button will be disabled. After you make your desired changes, click the Modify Account button to save your changes. The password for the selected user account will not be changed unless you press Edit Password or Generate Password. If you press Generate Password, a random password will be generated and shown to you.</p>
        <h4>Deleting Users</h4>
        <p>You can select one or more accounts to be deleted. After you have selected the accounts you want to delete, press the Delete Account(s) button. You cannot recover deleted user accounts, so be careful when using this feature.</p>
        <h4>Permissions Editing</h4>
        <p>Click the Modify Permissions button to edit permissions. If you click this button without any users selected, you will only be able to make packages public or private. When you click the button, a dialog box will appear with a list of permissions. If a UUID has a globe next to it (<i class="fa fa-globe"></i>), then that means that the package with that UUID is marked as public. Packages marked as public can be viewed by anyone, including users that are not logged in. If a UUID has a user icon next to it (<i class="fa fa-user"></i>), then that means that one of the users you have selected can access that package. There may be multiple user icons with the same UUID, this means that out of the users you have selected, there are multiple users that can access this package. Pressing the <i class="fa fa-times"></i> button next to the permission will remove it.</p>
        <p>To add a permission, type the UUID of the package you want to add into the Package UUID textbox. An autocomplete menu will pop up to assist you. The first line of an autocomplete entry will be the name of a package, and the second line will be its UUID. The drop down menu next to the textbox will let you select whether to apply the permission the currently selected user or mark the package as public. Click the Add button after you have entered a UUID. The system will automatically prevent duplicate permission entries and display an error message if one is detected.</p>
        <p>To rapidly add a subset of packages, click the link to enable bulk permission editing. After you have clicked the link, the textbox will be replaced with a textarea. Enter your UUIDs separated by newlines and press the Add Permissions button.</p>
        <p>There is a configuration variable to specify whether new packages are automatically marked as public or hidden for only Administrators. This configuration variable is called new_package_public and can be found in the config.json file. Change this variable to true if you want to automatically mark new packages as public, otherwise set this variable to false.</p>
        <h3 id="admin-config">Configuration Variables</h3>
        <p>Configuration variables change the way the application behaves. They can be used to turn features on and off. Some configuration variables will require a server restart to take effect. You can see the list of enabled configuration variables and a short description of their effects on the <a href="/global_settings">Application Settings</a> page.</p>
        <p>Some features of this application require a valid Google Maps API key. This step is purely optional; there are fallback solutions in place if no API keys are entered. You can obtain Google Maps API keys <a href="https://developers.google.com/maps/web/">here</a>. If you have obtained an API key, you can insert it into the config.json file.</p>
        <h3 id="admin-reset">Application Reset</h3>
        <p>You can delete all of the packages in the database on the <a href="/global-settings">Application Settings</a> page under Reset Packages. You may want to do this to clean up the package list after many packages have been delivered. This setting will delete packages in transit, which may cause them to not show up on the map. It is recommended to execute this action during a period when packages are not being delivered. This setting will permanantly affect the database. Packages deleted using this method cannot be recovered.</p>
        <h3 id="admin-recovery">Account Recovery</h3>
        <p>You can reset an account password from the Account Management page. If you have accidentally deleted all of the accounts in the system, run the command below from a terminal to create a new administrator account.</p>
        <pre>python setup_helper.py recover</pre>
        <p>The setup_helper.py script is located in the root directory of the application. You will need to change your directory to this folder. You will be prompted to enter a new password after you run the script.</p>
        <h2 id="api">API</h2>
        <div class="alert alert-info"><b>Note:</b> All <span class="label label-primary">POST</span> requests must be in JSON encoded format.</div>
        <ul>
            <li><span class="label label-success">GET</span> /tracknewpackage<br />
                <b>Request</b><br />
                <ul>
                    <li><span class="label label-success">GET</span> <b>name</b> - String - (optional) - The name of the package. If this is not specified, the package will be named "Unnamed Package".</li>
                    <li><span class="label label-success">GET</span> <b>destinationLat</b> - Decimal - The latitude of the package's destination.</li>
                    <li><span class="label label-success">GET</span> <b>destinationLon</b> - Decimal - The longitude of the package's destination.</li>
                    <li><span class="label label-success">GET</span> <b>uuid</b> - UUID - The uuid of the package.</li>
                </ul>
                <b>Response</b><br />
                <ul>
                    <li><span class="label label-warning">JSON</span> <b>ackUUID</b> - String - The uuid of the new package, surrounded by brackets.</li>
                    <li><span class="label label-warning">JSON</span> <b>error</b> - String - A short message about why the package could not be added (ex: invalid uuid format).</li>
                </ul>
            </li>
            <li><span class="label label-primary">POST</span> /packagetrackupdate/&lt;uuid&gt;<br />
                <b>Request</b><br />
                <ul>
                    <li><span class="label label-danger">URL</span> <b>uuid</b> - UUID - The uuid of the package to update.</li>
                    <li><span class="label label-primary">POST</span> <b>delivered</b> - Boolean - If this variable is set to true, all other options are ignored and the package is marked as delivered.</li>
                    <li><span class="label label-primary">POST</span> <b>lat</b> - Decimal - The current latitude of the package.</li>
                    <li><span class="label label-primary">POST</span> <b>lon</b> - Decimal - The current longitude of the package.</li>
                    <li><span class="label label-primary">POST</span> <b>ele</b> - Decimal - The current elevation of the package.</li>
                    <li><span class="label label-primary">POST</span> <b>time</b> - ISO 8601 Format - The time of the GPS update.</li>
                </ul>
                <b>Response</b><br />
                <ul>
                    <li><span class="label label-warning">JSON</span> <b>ackUUID</b> - String - The uuid of the new package, surrounded by brackets.</li>
                    <li><span class="label label-warning">JSON</span> <b>error</b> - String - A short message about why the package could not be added (ex: invalid uuid format).</li>
                </ul>
            </li>
        </ul>
        <h2 id="requirements">Requirements</h2>
        <ol>
            <li>The solution shall handle multiple simultaneous GPS tracked packages sending updates.</li>
            <li>The solution shall be easily accessible from a Windows 7 computer.</li>
            <li>The solution shall support an admin mode that shows all package location updates on a map.</li>
            <li>The solution shall support a user mode that shows a subset of package location updates on a map.</li>
            <li>The solution shall accept a list of UUIDs in user mode to control the subset of package location updates displayed on the map.</li>
            <li>The solution shall accept name, destination, and GPS unit UUID information as HTTP query parameters on a HTTP GET of the URL path "/tracknewpackage".</li>
            <li>The solution shall respond with a JSON encoded body which includes the registered uuid on an HTTP GET of the URL path "/tracknewpackage".</li>
            <li>The solution shall accept a JSON encoded body which includes location, elevation, and time on a HTTP POST to the URL path "/packagetrackupdate/".</li>
            <li>The solution shall accept a JSON encoded body which includes a delivered flag on a HTTP POST to the URL path "/packagetrackupdate/".</li>
            <li>The solution shall calculate and display distance to destination.</li>
            <li>The solution shall calculate and display estimated arrival time.</li>
        </ol>
        <h2 id="credits">Credits</h2>
        <div id="credits-container">
        {% for credit in credits %}
            <div>{{ credit['name'] }} <span class="links"><a href="{{ credit['homepage'] }}">Homepage</a>{% if 'license' in credit %} - <a href="{{ credit['license'] }}">License</a>{% endif %}</span></div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
