{% extends "layout.html" %}
{% block title %}Accounts - Package Manager{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <link href='/css/index.css' rel='stylesheet' type='text/css' />
    <link href='/css/accounts.css' rel='stylesheet' type='text/css' />
    <script src='/js/index.js'></script>
    <script src='/js/typeahead.jquery.min.js'></script>
    <script src='/js/accounts.js'></script>
{% endblock %}
{% block content %}
<div class="item-box">
    <p><b>Tip:</b> Hold down the <kbd>Ctrl</kbd> key and click to select multiple rows at once. Hold down the <kbd>Shift</kbd> key and click to select rows between the first selected row and the row you clicked.</p>
    <hr />
    <table id="users">
        <thead>
            <tr><th></th><th>Username</th><th>Email</th><th>Type</th></tr>
        </thead>
    </table>
    <hr />
    <div id="user-form">
        <input type="hidden" id="id" name="id" />
        <fieldset class="form-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" />
        </fieldset>
        <fieldset class="form-group">
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" />
        </fieldset>
        <fieldset class="form-group" style="position:relative">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
            <span id="password-opt" style="position:absolute;z-index:1;top:3px;left:5px;display:none">
                <button id="password-edit" class="btn btn-warning btn-sm">Change Password</button>
                <button id="password-generate" class="btn btn-success btn-sm">Generate Password</button>
            </span>
        </fieldset>
        <fieldset class="form-group">
            <select class="form-control" id="type" name="type">
                <option value="0">Normal User</option>
                <option value="1">Administrator</option>
            </select>
        </fieldset>
        <div id="user-btn">
            <button id="btn-create" class="btn btn-success">Create Account</button>
            <button id="btn-modify" class="btn btn-primary" disabled>Modify Account</button>
            <button id="btn-permissions" class="btn btn-warning" data-toggle="modal" data-target="#modal-permissions">Modify Permissions</button>
            <button id="btn-delete" class="btn btn-danger" disabled>Delete Account</button>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-permissions" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Package Permissions</h4>
            </div>
            <div class="modal-body">
                <p>If a package is marked as <i class="fa fa-globe"></i>, then it is visible to everyone.<br /><span id="permissions-user-info">If a package is marked as <i class="fa fa-user"></i>, it is visible to <b id="permissions-user-name"></b>.<br /></span>Administrators can view all packages.<br />Click <a id="permissions-bulk-edit" href="#">here</a> to toggle bulk permission editing.<span id="permissions-bulk-edit-info" style="display:none"><br />To insert multiple permissions at once, enter UUIDs separated by newlines.</span></p>
                <div class="alert alert-danger" id="perm-info" style="display:none"></div>
                <div id="bulk-permission-editing" style="display:none;margin-bottom:15px">
                    <textarea class="form-control" id="bulk-uuid" style="font-family:monospace;margin-bottom:15px"></textarea>
                    <select id="bulk-perm-type" name="type">
                        <option value="user">&#xf007;</option>
                        <option value="global">&#xf0ac;</option>
                    </select>
                    <button class="btn btn-success" id="bulk-uuid-add">Add Permissions</button>
                </div>
                <fieldset id="single-permission-editing" class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="uuid" name="uuid" placeholder="Package UUID" maxlength="36" />
                        <span class="input-group-addon" style="border-left:0px">
                            <select id="perm-type" name="type">
                                <option value="user">&#xf007;</option>
                                <option value="global">&#xf0ac;</option>
                            </select>
                        </span>
                        <span class="input-group-btn" style="vertical-align:top">
                            <input type="button" id="uuid-add" class="btn btn-success" value="Add" />
                        </span>
                    </div>
                </fieldset>
                <div id="package-list"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
