{% extends "layout.html" %}
{% block title %}Global Settings - Package Manager{% endblock %}
{% block head %}
    {{ super() }}
    <link href='/css/bootstrap-switch.min.css' rel='stylesheet' type='text/css' />
    <script src='/js/bootstrap-switch.min.js'></script>
    <link href='/css/index.css' rel='stylesheet' type='text/css' />
    <script src='/js/index.js'></script>
    <script>$(document).ready(function() { $('input[type="checkbox"]').bootstrapSwitch(); });</script>
{% endblock %}
{% block content %}
<form action="/global_settings/reset" method="POST">
    <h3>Reset Packages</h3>
    <div class="form-info alert"></div>
    <p>By clicking the button below, you will delete all package records, including those of packages in transit. This will also clear all user access records.</p>
    <fieldset>
        <label class="sr-only form-control-label" for="password">Password</label>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
            <span class="input-group-btn">
                <input type="submit" class="btn btn-danger" value="Reset" />
            </span>
        </div>
    </fieldset>
</form>
<form action="/global_settings/config" method="POST">
    <h3>Configuration Variables</h3>
    <p style="text-align:center">These variables can be modified in <b>config.json</b>.</p>
    <hr />
    <h5>Allow Registration</h5>
    <p>Allow users to create an account on the login page.</p>
    <input type="checkbox" {{ "checked" if config["allow_registration"] }} disabled />
    <hr />
    <h5>Allow Deletion</h5>
    <p>Allow users to delete their accounts. This setting does not affect the account management page.</p>
    <input type="checkbox" {{ "checked" if config["allow_deletion"] }} disabled />
    <hr />
    <h5>New Packages</h5>
    <p>Mark new packages as public automatically. All users will be able to view these packages, including users that are not logged in.</p>
    <input type="checkbox" {{ "checked" if config["new_package_public"] }} disabled />
    <hr />
    <h5>User Editing</h5>
    <p>Allow users to rename and delete packages. Users will only be able to rename and delete packages that they have access to.</p>
    <input type="checkbox" {{ "checked" if config["allow_user_edit"] }} disabled />
</form>
{% endblock %}
