{% extends "layout.html" %}
{% block title %}Package Manager{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/css/messenger.css"/>
    <link href="/css/map.css" type="text/css" rel="stylesheet" />
    <script src="/js/socket.io.js"></script>
    <script src="/js/jquery.effects.core.js"></script>
    <script src="/js/jquery.effects.slide.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/jquery.timeago.js"></script>
    <script src="/js/messenger.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?{{ "key=" + mapskey + "&" if mapskey else "" }}callback=initMap" async defer></script>
    <script src="/js/map.js"></script>
{% endblock %}
{% block content %}
<span style='display:none' id="userid">{{ id }}</span>
<span style='display:none' id="is_admin">{% if is_admin and logged_in %}True{% else %}False{% endif %}</span>
<span style='display:none' id="can_edit">{% if can_edit and logged_in %}True{% else %}False{% endif %}</span>
<div id="sidebar">
    <div id="packagelist" class="box">
        <span class="title">Packages<span id="package_count"></span></span>
        <span class="message">
            <ul class="fa-ul" id="list"></ul>
        </span>
    </div>
    <div id="guest" class="box">
        <span class="title">You are not logged in! <a href="/about" class="help-link fa fa-question-circle"></a></span>
        <span class="message">
            <div>You will only be able to see packages marked as public.</div>
            <hr />
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-map-o"></i> <a href="/settings">Map Settings</a></li>
                <li><i class="fa-li fa fa-sign-in"></i> <a href="/">Login</a></li>
            </ul>
        </span>
    </div>
    <div id="member" class="box">
        <span class="title" style="font-weight:normal">Hello, <b id="username">{{ username }}</b>! <a href="/about" class="help-link fa fa-question-circle"></a></span>
        <span class="message">
            <ul class="fa-ul">
                {% if is_admin %}
                <li><i class="fa-li fa fa-users"></i> <a href="/accounts">Account Management</a></li>
                <li><i class="fa-li fa fa-globe"></i> <a href="/global_settings">Application Settings</a></li>
                {% endif %}
                <li><i class="fa-li fa fa-wrench"></i><a href="/settings">Settings</a></li>
                <li><i class="fa-li fa fa-sign-out"></i><a href="/logout">Logout</a></li>
            </ul>
        </span>
    </div>
    <div id="logo_padding" style="height:20px"></div>
</div>
<div id="searchbox">
    <input type="text" class="form-control" id="search" placeholder="Package Search" />
</div>
<div id="packageinfo">
    <div id="phelp">Click a marker to see package information associated with that marker. Press <kbd id="escapeOutKey">ESC</kbd> to go back to world view.</div>
    <div id="pinfo" style="display:none">
        <b>Name:</b> <span id="pname">Unknown</span><br />
        <b>Status:</b> <span id="pstatus">Unknown</span><br />
        <b>End:</b> <span id="pdest">Unknown</span><br />
        <div id="pdelivered-container">
            <b>Time Taken:</b> <span id="ptaken">Unknown</span><br />
            <b>Distance Traveled:</b> <span id="ptraveled">Unknown</span><br />
        </div>
        <div id="ptransit-container">
            <b>Speed:</b> <span id="pspeed">Unknown</span> <span id="pmethod"></span><br />
            <b>Distance Left:</b> <span id="pdist">Unknown</span><br />
            <b>ETA:</b> <span id="peta">Unknown</span><br />
        </div>
        <b style="font-size:12px">UUID:</b> <span id="puuid"></span><br />
    </div>
</div>
<div id="mobile">
    <div id="zoomout"><i class="fa fa-search-minus"></i></div>
    <div id="toggle"><i class="fa fa-eye"></i></div>
</div>
<div id="map"></div>
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Package Record?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this package record?</p>
                <p><b>Name:</b> <span id="deleteModal-name"></span><br />
                <b>UUID:</b> <span id="deleteModal-uuid"></span></p>
                <p id="deleteModal-delivered">This package has <b>not been delivered</b>, but the last GPS update was over a month ago.</p>
            </div>
            <div class="modal-footer">
                <span style="float:left;margin-top:7px"><label style="margin-bottom:0px"><input id="deleteModal-prompt" type="checkbox" /> Don't ask me again</label></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="deleteModal-confirm" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
