{% extends "layout.html" %}
{% block title %}Package Manager{% endblock %}
{% block head %}
    {{ super() }}
    <link href='/css/map.css' type='text/css' rel='stylesheet' />
    <script src="/js/socket.io.js"></script>
    <script src='/js/jquery.effects.core.js'></script>
    <script src='/js/jquery.effects.slide.js'></script>
    <script src="/js/jquery.timeago.js"></script>
    <script src="/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?{{ "key=" + mapskey + "&" if mapskey else "" }}callback=initMap" async defer></script>
{% endblock %}
{% block content %}
<span style='display:none' id="userid">{{ id }}</span>
<span style='display:none' id="is_admin">{% if (is_admin or can_edit) and logged_in %}True{% else %}False{% endif %}</span>
<div id="sidebar">
    <div id="packagelist" class="box"><span class="title">Packages<span id="package_count"></span></span><span class="message"><ul class="fa-ul" id="list"></ul></span></div>
    <div id="guest" class="box">
        <span class="title">You are not logged in!</span><span class="message">You will only be able to see packages marked as public.<br />Click <a href="/">here</a> to login.</span></div>
    <div id="member" class="box"><span class="title" style="font-weight:normal">Hello, <b id="username">{{ username }}</b>!</span>
        <span class="message">
            <ul class="fa-ul">
                {% if is_admin %}
                <li><i class="fa-li fa fa-globe"></i> <a href="/global_settings">Application Settings</a></li>
                <li><i class="fa-li fa fa-users"></i> <a href="/accounts">Account Management</a></li>
                {% endif %}
                <li><i class="fa-li fa fa-wrench"></i><a href="/settings">Settings</a></li>
                <li><i class="fa-li fa fa-sign-out"></i><a href="/logout">Logout</a></li>
            </ul>
        </span>
    </div>
</div>
<div id="searchbox">
    <input type="text" class="form-control" id="search" placeholder="Package Search" />
</div>
<div id="packageinfo">
    <div id="phelp">Click a marker to see package information associated with that marker. Press <kbd id="escapeOutKey">ESC</kbd> to go back to world view.</div>
    <div id="pinfo" style="display:none">
        <b>Name:</b> <span id="pname"></span><br />
        <b>Status:</b> <span id="pstatus"></span><br />
        <span id="peta-container"><b>ETA:</b> <span id="peta">Unknown</span><br /></span>
        <b style="font-size:12px">UUID:</b> <span id="puuid"></span><br />
    </div>
</div>
<div id="mobile">
    <div id="zoomout"><i class="fa fa-search-minus"></i></div>
    <div id="toggle"><i class="fa fa-eye"></i></div>
</div>
<div id="map"></div>
{% endblock %}
